*.log
*.dta
*.rda
*.csv
*.txt
*.xls?
*.doc?
*.ppt?
*.pdf
*.png
*.zip
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
out/*
/.quarto/
.Rhistory
!workshop.pdf
!src/*.pdf
