*.log
*.dta
*.rda
*.csv
*.txt
*.xls?
*.doc?
*.ppt?
*.pdf
*.zip
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
.ipynb_checkpoints/*
out/*
!workshop.pdf
!sch.xlsx
!stu.csv
